.footer {
  margin-top: 10% 0;
  padding: 2rem 10%;
  background: url("../../public/images/footer-background.png");
  background-size: 100% 100%;
  margin-top: 8%;
}

.footer p,
.footer li {
  font-family: "Open Sans";
  color: #363636;
}

.footer h1 {
  font-family: "Josefin Sans";
}

.main {
  display: flex;
  column-gap: 10%;
}

.main p,
.main li {
  color: #363636;
}

.main li {
  margin-bottom: 0.5rem;
}

.logo {
  width: 50%;
  max-width: 300px;
  min-width: 250px;
}

.logo img {
  width: 100%;
}

.footer-lists {
  width: 30%;
}

.footer-lists ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.copyright-text {
  text-align: center;
  margin-top: 3rem;
}

.copyright-text p {
  color: #e95439;
}

.copyright-text hr {
  border-top: 1.5px solid #e95439;
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 2rem 5%;
  }

  .main {
    column-gap: 5%;
  }
}

@media screen and (max-width: 500px) {
  .main {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .logo {
    margin: auto;
  }

  .main p {
    text-align: center;
  }

  .footer-lists {
    width: auto;
  }
}
